body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'DM Sans', sans-serif;
}

.header {
    color: ivory;
    text-align: center;
    text-shadow: ivory 0 0 1rem;
}

.intro-txt {
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding: 42vh 0;
    background: url(https://unsplash.com/photos/D20RMf5uVm0/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nzh8fHBoaWxpcHBpbmVzJTIwYmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHx8fDE2OTE3NDE4MTd8MA&force=true) no-repeat;
    background-position: center;
    background-size: 150%;
    animation: backgroundScroll 400s linear infinite;
}

#jiro {
    font-size: clamp(34px, 2.5vw, 72px);
}

#description {
    color: ivory;
    text-align: center;
    text-shadow: ivory 0 0 8px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.main-nav {
    background-color: black;
    padding: 10px 10px;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.navbar {
    border-bottom: 1px solid gray;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.navlink {
    list-style-type: none;
    text-decoration: none;
}

#left {
    margin-right: auto;
}

.navlink > a {
    text-decoration: none;
    padding: 10px clamp(15px, 2.5vw, 20px);
    text-align: center;
    font-size: clamp(18px, 2.5vw, 20px);
    color: ivory;
    transition-duration: 250ms;
}

a {
    color: goldenrod;
}

a:hover {
    color: crimson;
    text-shadow: crimson 0 0 12px;
    transition-duration: 250ms;
}

#stuff, #stuff2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    border: gray solid 1px;
    border-radius: 5px;
    padding: 10px 150px;
    cursor: pointer;
    transition: ease-out 250ms;
}

.project:hover {
    background-color: crimson;
    transition: ease-in 250ms;
    border: crimson solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px crimson;
}

.project:hover > .header {
    color: black;
    text-shadow: black 0 0 ;
}

@media only screen and (max-width: 900px) {
    .project {
      padding: 10px 75px;
    }
  }

@keyframes backgroundScroll {
    0%   {background-position: top left;}
    50%  {background-position: bottom right;}
    100% {background-position: top left;}
}

footer {
    color: ivory;
    border-top: 1px solid gray;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

#credits {
    font-size: 12px;
}

#contact {
    font-size: 30px;
    margin: 0;
    padding: 0;
    word-spacing: 10px;
    padding-bottom: 10px;
}