body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'DM Sans', sans-serif;
}

.header {
    color: ivory;
    text-align: center;
    text-shadow: ivory 0 0 1rem;
}

.intro-txt {
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding: 40vh 0;
}

#jiro {
    font-size: clamp(34px, 2.5vw, 72px);
}

#description {
    color: ivory;
    text-align: center;
    text-shadow: ivory 0 0 8px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.main-nav {
    background-color: black;
    padding: 10px 10px;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.navbar {
    border-bottom: 1px solid gray;
}

.navlink {
    list-style-type: none;
    text-decoration: none;
}

#left {
    margin-right: auto;
}

.navlink > a {
    text-decoration: none;
    padding: 10px clamp(15px, 2.5vw, 20px);
    text-align: center;
    font-size: clamp(18px, 2.5vw, 20px);
    color: ivory;
    transition-duration: 250ms;
}

a:hover {
    color: crimson;
    text-shadow: crimson 0 0 12px;
    transition-duration: 250ms;
}

#stuff, #stuff2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    border: gray solid 1px;
    border-radius: 5px;
    padding: 10px 150px;
    cursor: pointer;
    transition: ease-out 250ms;
}

.project:hover {
    background-color: crimson;
    transition: ease-in 250ms;
    border: none;
    box-shadow: 0 0 10px crimson;
}

.project:hover > .header {
    color: black;
    text-shadow: black 0 0 
}

@media only screen and (max-width: 900px) {
    .project {
      padding: 10px 75px;
    }
  }